@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  @import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  #grey-qo-regular {
    font-family: "Grey Qo",cursive;
    font-weight: 100;
    font-style: normal;
  }
  
  body{
    background-color: rgb(0, 0, 0);
    color: white;
  }

  .nav{
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
    padding-top: 50px;
    align-items: center;
  }
  .link, .link1{
    text-decoration: none; 
    margin-right: 30px;
    margin-top: 2px;
    margin-left: 1px;   
    margin-bottom: 2px;
     color: white;
  }
  .navlink{
    display: flex;
    border: 1px solid rgb(73, 72, 72);
    border-radius: 30px;
    justify-content: center;
    align-items: center;

  

    
  }
  .link1{

    background-color: rgb(238, 58, 27);
   
    border: 1px solid rgb(236, 64, 33);
    border-radius: 30px;
   padding: 7px;
   

  }
  .name{
    font-weight: 700;
    font-size: 2rem;
    color: orangered;
    font-style: italic;
    margin-left: 1rem;
    
  }
  .banner{
    background-color: #0c0b0b;
    max-width: 1440px;
    margin: 0 auto;
  }
  .bold{
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
   
   
    
  }
  .intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin: 3rem 15rem;
    text-align: start;
    max-width: 720px;
   margin-top: 1rem;
    max-width: 50%;
   
   

  }
  .introd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-top: -10px;
   

  }
  .banner1{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-right: 30rem;
    
  }
  .image{
    max-width: 100%;
    display: flex;
    margin-left: -6rem;
    margin-bottom: 0px;
  
  }
  .upper{
    font-size: 2.2rem;
    font-weight: 600;
    max-width: 12rem;
    max-height: 3.2rem;
    border: 1px solid rgb(172, 167, 167);
    border-radius: 10px;
    padding: 1rem; 
    margin-top: 6rem;
    margin-left: -9rem;
    color: white;
    background-color: rgba(128, 128, 128, 0.685);

  }
#work{
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    padding-bottom: 2rem;

}
  .shape{
    font-family: "Grey Qo",cursive;
    font-weight: 300;
    font-style: normal;
  }
.paraintro{
    display: contents;
    text-align: start;
    align-items: center;
    color: #6e6e6e;
    
}
.btn{display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 2rem;
  
}
.orbtn{
    border: 1px solid grey ;
    background-color: rgb(245, 78, 17);
    font-size: 1.5rem;
    color: white;
    border-radius: 1.6rem;
    padding: .5rem 2rem;

}
.bbtn{
    border: 1px solid grey;
    background-color: black;
    color: white;
    border-radius: 1.6rem;
    padding: .5rem 2rem;
    font-size: 1.5rem;
}
.lower{
    border: 1px solid grey;
    border-radius: 10px;
    max-width: 16rem;
    max-height: 5rem;
    margin-left: -26rem;
    margin-top: 30rem;
    color: white;
    background-color: #585252c9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ball{height: 1.5rem;
    width: 1.5rem;
    border: .5px solid rgba(255, 255, 255, 0.473);
    border-radius: 50%;
    background-color: rgb(236, 78, 20);
   margin: .6rem;
}
.thr{
    font-size: 2rem;
    font-weight: 600;
}
.vt{
    font-weight: 300;
    font-size: .9rem;
    color: rgb(196, 196, 196);
    margin: .5rem;}

/* main sector1 */
   
.exercise1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
  color: white;
  width:240px;
  text-align: center;
  margin: 0 5px;
}
.exname{
  font-size: 1.4rem;
  font-weight: 500;
  margin: .2rem;

}

.sector1{
  max-width: 1440px;
  max-height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

}

.exercises{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px auto;
}
.eximg{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;

}
.t1{
  text-align: center;

}
.rext{
 border: 1px solid rgba(128, 128, 128, 0);
 width: 400px;

}
.run{
  font-size: 2.5rem;
  font-weight: 700;
  margin:0 ;
}
.rex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:970px;
  border: 1px solid rgba(128, 128, 128, 0);
  border-radius: 15px;
  margin: 50px auto;
  padding: 21px;
  background-color: rgb(43, 41, 41);]
 
}
.rimg{
   border: 1px solid rgba(128, 128, 128, 0);
   border-radius: 10px;
}
.jbtn{
  color: white;
  width: 210px;
  padding: 10px;
  border: 1px solid rgb(255, 51, 0);
  background-color: rgb(255, 51, 0);
  border-radius: 23px;
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 5px;
}
 
/* main sector2 */

.sector2{
  background-color: black;
  margin: 0 auto;
  width: 1440px;
 
}
.big2{
  margin: 0;
  font-size: 2.5rem;
  font-weight: 600;

}
.tex{
  display: flex;
  margin: 0 auto;
  flex-direction:column;
  max-width: 1000px;
 padding-bottom: 50px;
}
.picgrid{
display: flex;
flex-direction: row;
flex-wrap: wrap;
max-width: 1050px;
margin: 0 auto;
padding-left: 50px;

}
/* filters */

.pics1{
  filter: hue-rotate(180deg) saturate(200%) brightness(100%) opacity(60%);
}

/* BMI */
.bmic{
   margin: 60px 360px 0px;
   padding-bottom: 60px;
}
.bcal{
  font-size: 3rem;
  font-weight: 600;
}
.calsector{
  display: flex;
  max-width: 1440px;
  background-color: rgb(32, 32, 32);
  justify-content: space-around;
  margin: 0px auto;
}
/* table */
table{
  border: 1px solid rgb(194, 156, 156);
  border-color: azure;
  width: 100%;

}
table, td, th{
 border: 1px solid grey;
 border-collapse: collapse;
}
th, td{
  margin: 5px 10px;
  padding: 10px;
  width: 50%;
}
th{
  text-align: start;
  color: white;
}
td{
  color:grey;
  font-size: .8rem;
}
.bmich{
  font-weight: 600;
  font-size: 2.5rem;
 margin: 50px 0px;
}
.height{
  width: 40%;
  border: 1px solid rgb(80, 80, 80);
  background-color: rgb(80, 80, 80);
  font-size: 1rem;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}
.weight{
  width: 40%;
  border: 1px solid rgb(80, 80, 80);
  background-color: rgb(80, 80, 80);
  font-size: 1rem;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin: 5px;
}
.age{
  width: 40%;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgb(80, 80, 80);
  padding: 10px;
  color: white;
  margin: 5px;
}
.sex{
  width: 40%;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgb(80, 80, 80);
  padding: 10px;
  color: white;
  margin: 5px;
}
.calform{
  color: white;
  width: 30%;
  margin-left: -19rem;
}
.calchart{
  width: 30%;
  margin-left: 1rem;
}
.factor{
  width: 89%;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 5px;
  font-size: 1rem;
  background-color: rgb(80, 80, 80);
  padding: 10px;
  color: white;
  margin: 5px;
}
input::placeholder{
  color: white;
}
.cftb{
  font-weight: 600;
  font-size: 2.5rem;
  margin: 50px 0px;}
  .bmibtn{
    width: 15rem;
    height: 3rem;
    border: 1px solid orangered;
    background-color: orangered;
    border-radius: 50px;
    color: white;
    margin: 30px 0px;
    font-size: 1rem;
  }
  /* Our Team */
  .teampic{
    background-color: rgb(26, 26, 26);
    max-width: 854px;   
    margin: 30px auto;
    border-radius: 10px;
  }

.teambox{
  background-color: black;
  max-width: 1440px;
  margin: 0px auto;
  padding-bottom: 30px;
}
.teamintro{
  text-align: center;
  margin: auto;
  padding: 2.2rem;
}
  .imgteam{
    border: 1px solid rgb(26, 26, 26);
    border-radius: 10px;
   margin-left: .5rem;
   margin-top: .5rem;
   margin-right: .5rem;
    height: 222px;
    width: 260px;
    margin-bottom: .5rem;
  
    
  }
  #imgdown{
    margin-bottom: 1.5rem;
  }
  .teampic{
    display: flex;
    flex-wrap: wrap;
  }
  .trainer{
    margin-left: 2rem;
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
  }
  .trainer>h5{
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1px;
  }
  .trainer>p{
    margin-top: -1.5rem;
    color: rgb(70, 70, 70);
  }
  .footer{
    max-width: 1000px;
    margin: 0px auto;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
   
  }
  .footersec{
    max-width: 1440px;
    margin: 0px auto;
    background-color: rgb(27, 27, 27);
   

  }
  .footerleft{
    max-width: 40%;
    padding-top: 3rem;
  }
  .footerright{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 3rem;
  

  }
  .big{
    font-weight: 700;
    font-size: 3rem;
    color: orangered;
    font-style: italic;
  }
  .big3{
    font-weight: 600;
    font-size: 2rem;
    

  }
  hr{
    border: 1px solid white;
    height: 5px;
    background-color: white;

  }
  .vertical{
    width: 1000px;
    height: 2px;
    margin: 50px auto;
    background-color: rgb(71, 71, 71);
   
  }
  .copyright{
    color: rgb(71, 71, 71);
    margin: 20px auto;
    text-align: center;
    margin-top: -40px;
  }

  @media screen (max-width:576px){

      .nav{
        max-width: 560px;
        display:flex;
        justify-content:space-between;
      }

  }
    